<div class="container">


    <div class="logindiv">
        <div style="padding: 15px;width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;flex-direction: column;">
                <div>
                    <label for="name">
                        User Name:
                    </label>
                    <input [(ngModel)]='name' type="text" placeholder="name" style="margin-bottom: 10px;">
                </div>
                <div>
                    <label for="password">
                        Password:
                    </label>
                    <input [(ngModel)]='password'   placeholder="password" type="password" placeholder="password">
                </div>
                <div style="margin-top: 20px;">
                    <button (click)="login()">Login</button>
                </div>

     

        </div>
    </div>

</div>
